@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/auth.css" />


<div class="auth-page">
    <div class="auth-container login-container">
        <h2>Увійти</h2>

        <form asp-action="Login" method="post">
            <div class="form-group">
                <label for="email">Пошта</label>
                <input type="email" class="form-control" id="email" name="email" required />
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" class="form-control" id="password" name="password" required />
            </div>
            <button type="submit" class="btn-note">Увійти</button>
        </form>

        <p>
            Ще немає акаунту?
            <a asp-controller="User" asp-action="Register">Зареєструватися</a>
        </p>

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="text-danger">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <p>@error.ErrorMessage</p>
                }
            </div>
        }
    </div>
</div>
