@model IEnumerable<OnlineDiaryApp.Models.Note>

@{
    ViewData["Title"] = "Головна";
    var kyivTimeZone = TimeZoneInfo.FindSystemTimeZoneById("FLE Standard Time");
}

<link rel="stylesheet" href="~/css/home.css" />

<div class="home-container">
    <h1 class="welcome-title">📒 Мої нотатки</h1>

    <div class="actions">
        <a class="btn-create" asp-action="Create" asp-controller="Note">✏️ Створити нотатку</a>
        <a class="btn-tags" asp-action="Index" asp-controller="Tag">🏷️ Теги</a>
        <a class="btn-notes" asp-action="Index" asp-controller="Note">📂 Перейти до моїх нотаток</a>
    </div>

    
            
  
</div>
