################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnlineDiaryApp/Services/EmailService.cs
/OnlineDiaryApp/Views/Note/Create.cshtml
/OnlineDiaryApp/Views/Note/Edit.cshtml
/OnlineDiaryApp/credentials.json
/OnlineDiaryApp/appsettings.Development.json
/OnlineDiaryApp/.env
