@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - OnlineDiary</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                📒 OnlineDiary
            </a>

            <div class="navbar-actions">
                @if (Context.Session.GetString("Username") != null)
                {
                    <a class="btn btn-light username" asp-controller="Note" asp-action="Index">
                        @Context.Session.GetString("Username")
                    </a>
                    <a class="btn btn-danger" asp-controller="User" asp-action="Logout">Вийти</a>
                }
                else
                {
                    <a class="btn btn-primary" asp-controller="User" asp-action="Login">Увійти</a>
                }
            </div>
        </nav>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
