/* Фон */
body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fdf6e3;
    font-family: "Courier", monospace;
}

/* Контейнер */
.tag-container {
    width: 400px;
    padding: 25px;
    border-radius: 12px;
    background: #fff9c4;
    border: 1px solid #fbc02d;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    transform: rotate(-1deg);
}

    /* Заголовок */
    .tag-container h2 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: bold;
        color: #5d4037;
    }

/* Поля */
.form-group {
    margin-bottom: 20px;
}

    .form-group label {
        font-weight: bold;
        display: block;
        margin-bottom: 8px;
        color: #3e2723;
    }

.form-control {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #fbc02d;
    background: #fffde7;
    font-size: 15px;
    font-family: "Courier", monospace;
    transition: 0.2s ease;
}

    .form-control:focus {
        border-color: #ff9800;
        outline: none;
        box-shadow: 0 0 6px rgba(255, 152, 0, 0.4);
    }

/* Кнопки */
.btn-save {
    padding: 12px 18px;
    background: #ffecb3;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    color: #4e342e;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
    font-family: "Courier", monospace;
}

    .btn-save:hover {
        background: #ffd54f;
        transform: scale(1.03);
    }

.btn-back {
    padding: 12px 18px;
    background: #d7ccc8;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    color: #3e2723;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
    font-family: "Courier", monospace;
    text-decoration: none;
}

    .btn-back:hover {
        background: #bcaaa4;
        transform: scale(1.03);
    }
