@model OnlineDiaryApp.Models.Notebook

<link rel="stylesheet" href="~/css/notebook.css" />

<div class="page-wrapper">
    <div class="form-container">
        <h2>Створити новий блокнот</h2>

        <form asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="Name">Назва</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">Опис</label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>
            <div class="note-actions">
                <a asp-action="Index" class="btn-cancel">Скасувати</a>
                <button type="submit" class="btn-save">Зберегти</button>
            </div>
        </form>
    </div>
</div>

